.elements {
  display: grid;

  color: #000000;
  margin-top: 49px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px 17px;
}

.element {
  height: 361px;
  width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.element__rectangle {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.element__image {
  height: 282px;
  width: 282px;
}

.element__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__text {
  margin-left: 21px;
  width: 246px;
  font-family: "Inter Black", Inter, sans-serif;
  font-size: 24px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__button {
  height: 19px;
  width: 21px;
  margin-right: 18px;
  background-image: url(../images/btn-like-nr.png);
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.element__button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .elements {
    width: 581px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    width: 282px;
    gap: 20px;
  }
}
