.popup__add {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
  position: fixed;
  display: none; /*opción ocultar el popup */
  top: 0;
  left: 0;
  align-items: center;
}

.popup__add-form-title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  margin-top: 34px;
  margin-bottom: 54px;
  font-weight: 900;
}

.popup__add-form {
  display: flex;
  align-items: center;
  width: 430px;
  height: 350px;
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.popup__add-form-input {
  width: 358px;
  height: 27.26px;
  border: 1px;
  margin-bottom: 29.74px;
  display: flex;
}

.popup__add-submit-button {
  width: 358px;
  height: 50.15px;
  border: 1px;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: black;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  border-radius: 2px;
  margin: 0 auto;
}

.popup__add-submit-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__add-button-close {
  background-image: url("../images/Close\ Icon.png");
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  right: -45px;
  border: none;
}

.popup__add-button-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__add_opened {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .popup__add-form {
    max-width: 282px;
    height: 322px;
    width: 100%;
  }
  .popup__add-form-title {
    font-size: 18px;
    line-height: 21.78px;
    margin: 25px 22px;
  }

  .popup__add-form-input {
    max-width: 238px;
    height: 26px;
  }

  .popup__add-submit-button {
    margin-top: 46px;
    width: 238px;
    height: 46px;
  }

  .popup__add-button-close {
    width: 80px;
    height: 80px;
    background-color: transparent;
  }
}

@media screen and (max-width: 320px) {
  .popup__add {
    display: flx;
    justify-content: center;
  }
}
