.profile {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 880px;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__avatar {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__image {
  display: flex;
  height: 127.5px;
  width: 168.75px;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 77px;
  width: 415px;
  margin-left: 30px;
}

.profile__title {
  margin: 0;
  font-family: "Inter Medium", Inter, sans-serif;
  font-size: 42px;
  line-height: 48px;
}

.profile__text {
  align-self: flex-end;
  margin: 16px 0 0;
}

.profile__edit {
  margin-left: 18px;
  margin-top: 20px;
  height: 22px;
  width: 22px;
  background-color: #000000;
  background-image: url(../images/btn-edit.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.profile__edit:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add {
  background-color: #000000;
  height: 50px;
  width: 150px;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.profile__add:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: 581px;
  }

  .profile__content {
    flex-direction: column;
    justify-content: center;
    width: 581px;
  }

  .profile__info {
    margin: 0;
  }

  .profile__add {
    margin-top: 20px;
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 0;
    width: 282px;
    justify-content: center;
    flex-direction: column;
  }

  .profile__content {
    flex-direction: column;
    justify-content: center;
    width: 282px;
  }

  .profile__info {
    margin: 30px 0 0 0;
    width: 282px;
    justify-content: center;
  }

  .profile__title {
    font-size: 22px;
    line-height: normal;
  }

  .profile__edit {
    margin-left: 10px;
    margin-top: 4px;
    height: 18px;
    width: 18px;
  }
  .profile__text {
    font-size: 14px;
    margin: 14px 0 0;
  }

  .profile__add {
    margin: 36px 0 0 0;
    height: 50px;
    width: 282px;
  }
}
